<mat-form-field appearance="fill" class="w-full">
  <mat-label>Genre</mat-label>
  <mat-chip-list #chipList aria-label="Genre selection">
    <mat-chip
      (removed)="remove(genre)"
      *ngFor="let genre of genres">
      {{genre}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      (matChipInputTokenEnd)="add($event)"
      [(ngModel)]="genreInput"
      [formControl]="genreCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      placeholder="New genre...">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
      {{genre}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
