<mat-progress-bar *ngIf="requestLoading" class="mt-1" mode="indeterminate"></mat-progress-bar>
<div class="m-20">
  <app-login class="flex justify-center mb-10"></app-login>
  <div *ngIf="characters" class="mb-20">
    <app-game (gameOverEventEmitter)="handleGameOverEvent()" (toggleFavourite)="toggleFavouriteCharacter($event)" *ngIf="gameAlive"
              [characters]="characters" [favourites]="getFavourites()"
              [isLogin$]="isLogin$"></app-game>
  </div>

  <div class="border-2 border-gray-300 rounded-md">
    <app-game-settings (filterEmitter)="onStartToggleChange($event)"></app-game-settings>
  </div>


</div>

