<mat-progress-bar class="mt-1" mode="indeterminate" *ngIf="requestLoading"></mat-progress-bar>
<div class="m-20">
  <app-login class="flex justify-center mb-10"></app-login>
  <div *ngIf="characters" class="mb-20">
    <app-game *ngIf="gameAlive" [characters]="characters" (gameOverEventEmitter)="handleGameOverEvent()"></app-game>
  </div>

  <div class="border-2 border-gray-300 rounded-md">
    <app-game-settings (filterEmitter)="onStartToggleChange($event)"></app-game-settings>
  </div>


</div>

