<app-login></app-login>
<button (click)="getUserAnime()" color="accent" mat-stroked-button>Do Something</button>
<div class="m-20">

  <div class="border-2 border-gray-300 rounded-md">


    <app-game-settings></app-game-settings>


  </div>


  <div class="flex justify-between mt-20">

    <app-character-option [character]="mockCharacterList[0]" [takenPicks]="takenPicks" (pick)="setTakenPicks($event)"></app-character-option>
    <app-character-option [character]="mockCharacterList[1]" [takenPicks]="takenPicks" (pick)="setTakenPicks($event)"></app-character-option>
    <app-character-option [character]="mockCharacterList[2]" [takenPicks]="takenPicks" (pick)="setTakenPicks($event)"></app-character-option>
  </div>
</div>

