<mat-tab-group (selectedTabChange)="onTypeChange()" [(selectedIndex)]="currentIndex" animationDuration=0ms mat-align-tabs="center">
  <ng-container *ngFor="let media of mediaTypes, let i = index">
    <mat-tab [label]="media">
      <ng-container *ngTemplateOutlet="tabContent"></ng-container>
    </mat-tab>
  </ng-container>

</mat-tab-group>

<ng-template #tabContent>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="setStep(0)" [expanded]="step === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          AniList Name
        </mat-panel-title>
        <mat-panel-description>
          <!--        TODO set name or anime here when filled   -->
          Your username from AniList. Your list must be public to work
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input (ngModelChange)="onNameFilterChange($event)" [(ngModel)]="userNameInput" matInput>
        <button (click)="userNameInput=''" *ngIf="userNameInput" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-action-row>
        <button (click)="nextStep()" color="primary" mat-button>Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="setStep(1)" [expanded]="step === 1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Genres
        </mat-panel-title>
        <mat-panel-description>
          Filter for Genres (leave empty to not filter)
          <mat-icon>view_module</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-chips-genre (genreEmitter)="onGenreFilterChange($event)"
                       [resetEvent]="$reset.asObservable()"></app-chips-genre>

      <mat-action-row>
        <button (click)="prevStep()" color="warn" mat-button>Previous</button>
        <button (click)="nextStep()" color="primary" mat-button>Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="setStep(2)" [expanded]="step === 2">
      <!--      TODO filter not working yet-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Release Year
        </mat-panel-title>
        <mat-panel-description>
          Filter for Release Year
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-year-selection (yearEmitter)="onYearFilterChange($event)"
                          [resetEvent]="$reset.asObservable()"></app-year-selection>

      <mat-action-row>
        <button (click)="prevStep()" color="warn" mat-button>Previous</button>
        <button (click)="nextStep()" color="primary" mat-button>Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="setStep(3)" [expanded]="step === 3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Status
        </mat-panel-title>
        <mat-panel-description>
          Pick the Status from your List
          <mat-icon>speaker_notes</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-status-selection (statusEmitter)="onStatusFilterChange($event)"
                            [resetEvent]="$reset.asObservable()"></app-status-selection>

      <mat-action-row>
        <button (click)="prevStep()" color="warn" mat-button>Previous</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
  <mat-card class="mt-4">
    <div class="flex space-x-11 justify-end">

      <button (click)="reset()" color="warn" mat-stroked-button>Reset</button>
      <button (click)="start()" [disabled]="!isValid()" color="primary" mat-stroked-button>Start</button>

    </div>
  </mat-card>

</ng-template>
