<div class="flex justify-between mt-20">
  <ng-container *ngFor="let character of characterRoundOptions">
    <app-character-option (toggleFavourite)="toggleFavouriteEvent($event)" [character]="character" [isLiked$]="isLiked(character.id)"
                          [isLogin$]="isLogin$"></app-character-option>
  </ng-container>
</div>

<div class="flex justify-center mt-8">

  <button (click)="round=round+1;triggerNext()" [disabled]="!isRoundValid" color="primary" mat-stroked-button>Next</button>
</div>
